<h1>Welcome to Stock Movies</h1>

<h2>Finally a single site to look up stock prices and movie posters</h2>

<p><a href="/stock">Lookup a stock</a></p>
<p><a href="/movie">Lookup a movie poster</a></p>
