<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Butterflies Database</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <nav>
    <a href="/">Home</a>
    |
    <a href="/butterflies">All butterflies</a>
    <a href="/butterflies/new">New butterfly</a>
    |
    <a href="/plants">All plants</a>
    <a href="/plants/new">New plant</a>
  </nav>

  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
