<h1>Edit Plant</h1>
<form action="/plants/<%= @plant['id'] %>" method="post">
  <input type="text" name="name" placeholder="Name" value="<%= @plant['name'] %>">
  <input type="url" name="image" placeholder="Image" value="<%= @plant['image'] %>">
  <button>Update plant</button>
</form>
