<h1>New Plant</h1>
<form action="/plants" method="post">
  <input type="text" name="name" placeholder="Name">
  <input type="url" name="image" placeholder="Image">
  <button>Create plant</button>
</form>
