<h1>We Love Bill Murray</h1>
<div class="row">
  <div class="col-md-9">
    <img src="http://fillmurray.com/900/900" alt="" class="img-responsive img-rounded">
  </div>

  <div class="col-md-3">
    <ul>
      <li><a href="">Bill's Bio</a></li>
      <li><a href=""></a>Bill's Bar</li>
      <li><a href=""></a>Ghostbusters</li>
      <li><a href=""></a>Lost In Translation</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-4 brother">groucho</div>
  <div class="col-md-4 brother">harpo</div>
  <div class="col-md-4 brother">chico</div>
</div>
