<h1>New Butterfly</h1>
<form action="/butterflies" method="post">
  <input type="text" name="name" placeholder="Name">
  <input type="text" name="family" placeholder="Family">
  <input type="url" name="image" placeholder="Image">
  <button>Create butterfly</button>
</form>
