<h1>My Blog</h1>

<div class="post">
  <h2>Some Title</h2>
  <h3 class="author">The Blade</h3>

  <div class="content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi fugit sapiente officiis, laboriosam, ab assumenda sequi, aspernatur rerum necessitatibus quia <a href="#">maiores</a> provident quas deserunt nostrum blanditiis saepe, alias facilis deleniti! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ipsam soluta id architecto ex illo iusto alias commodi sequi magni voluptates perspiciatis harum consequatur in, dolor tempora adipisci temporibus at? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel unde incidunt et asperiores temporibus animi molestias fugiat aut repellat quisquam laudantium consequuntur provident, maiores, ullam excepturi nemo porro necessitatibus. Et.</p>
  </div>
</div>

<div class="post">
  <h2>Some Title</h2>
  <h3 class="author">The Blade</h3>

  <div class="content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi fugit sapiente officiis, laboriosam, ab assumenda sequi, aspernatur rerum necessitatibus quia <a href="#">maiores</a> provident quas deserunt nostrum blanditiis saepe, alias facilis deleniti! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ipsam soluta id architecto ex illo iusto alias commodi sequi magni voluptates perspiciatis harum consequatur in, dolor tempora adipisci temporibus at? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel unde incidunt et asperiores temporibus animi molestias fugiat aut repellat quisquam laudantium consequuntur provident, maiores, ullam excepturi nemo porro necessitatibus. Et.</p>
  </div>
</div>
<div class="post">
  <h2>Some Title</h2>
  <h3 class="author">The Blade</h3>

  <div class="content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi fugit sapiente officiis, laboriosam, ab assumenda sequi, aspernatur rerum necessitatibus quia <a href="#">maiores</a> provident quas deserunt nostrum blanditiis saepe, alias facilis deleniti! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ipsam soluta id architecto ex illo iusto alias commodi sequi magni voluptates perspiciatis harum consequatur in, dolor tempora adipisci temporibus at? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel unde incidunt et asperiores temporibus animi molestias fugiat aut repellat quisquam laudantium consequuntur provident, maiores, ullam excepturi nemo porro necessitatibus. Et.</p>
  </div>
</div>

<h2>
  Notice Examples
</h2>

<p class="notice">Default notice</p>

<p class="error">Error notice</p>

<p class="success">Success notice</p>
