<h1>Movie Poster Search</h1>

<form>
  <label for="movie">Movie Title:</label>
  <input type="search" id="movie" name="movie" placeholder="Alien">
  <button id="search" type="submit">Search</button>
</form>

<img src="" alt="" id="poster">
